:root {
  --md-sys-color-primary: rgb(197 192 255);
  --md-sys-color-surface-tint: rgb(197 192 255);
  --md-sys-color-on-primary: rgb(45 41 96);
  --md-sys-color-primary-container: rgb(68 64 120);
  --md-sys-color-on-primary-container: rgb(227 223 255);
  --md-sys-color-secondary: rgb(199 196 220);
  --md-sys-color-on-secondary: rgb(48 46 66);
  --md-sys-color-secondary-container: rgb(70 69 89);
  --md-sys-color-on-secondary-container: rgb(228 223 249);
  --md-sys-color-tertiary: rgb(252 176 215);
  --md-sys-color-on-tertiary: rgb(81 29 61);
  --md-sys-color-tertiary-container: rgb(108 52 84);
  --md-sys-color-on-tertiary-container: rgb(255 216 233);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(86 30 25);
  --md-sys-color-error-container: rgb(115 51 45);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(229 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(229 225 233);
  --md-sys-color-surface-variant: rgb(71 70 79);
  --md-sys-color-on-surface-variant: rgb(200 197 208);
  --md-sys-color-outline: rgb(146 143 153);
  --md-sys-color-outline-variant: rgb(71 70 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 225 233);
  --md-sys-color-inverse-on-surface: rgb(49 48 54);
  --md-sys-color-inverse-primary: rgb(91 88 145);
  --md-sys-color-primary-fixed: rgb(227 223 255);
  --md-sys-color-on-primary-fixed: rgb(23 18 74);
  --md-sys-color-primary-fixed-dim: rgb(197 192 255);
  --md-sys-color-on-primary-fixed-variant: rgb(68 64 120);
  --md-sys-color-secondary-fixed: rgb(228 223 249);
  --md-sys-color-on-secondary-fixed: rgb(27 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(199 196 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(70 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 216 233);
  --md-sys-color-on-tertiary-fixed: rgb(56 7 39);
  --md-sys-color-tertiary-fixed-dim: rgb(252 176 215);
  --md-sys-color-on-tertiary-fixed-variant: rgb(108 52 84);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(58 56 63);
  --md-sys-color-surface-container-lowest: rgb(14 14 19);
  --md-sys-color-surface-container-low: rgb(28 27 32);
  --md-sys-color-surface-container: rgb(32 31 37);
  --md-sys-color-surface-container-high: rgb(42 41 47);
  --md-sys-color-surface-container-highest: rgb(53 52 58);
}