:root {
  --md-sys-color-primary: rgb(91 88 145);
  --md-sys-color-surface-tint: rgb(91 88 145);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(227 223 255);
  --md-sys-color-on-primary-container: rgb(68 64 120);
  --md-sys-color-secondary: rgb(94 92 113);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(228 223 249);
  --md-sys-color-on-secondary-container: rgb(70 69 89);
  --md-sys-color-tertiary: rgb(135 75 108);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 216 233);
  --md-sys-color-on-tertiary-container: rgb(108 52 84);
  --md-sys-color-error: rgb(144 74 67);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(115 51 45);
  --md-sys-color-background: rgb(252 248 255);
  --md-sys-color-on-background: rgb(28 27 32);
  --md-sys-color-surface: rgb(252 248 255);
  --md-sys-color-on-surface: rgb(28 27 32);
  --md-sys-color-surface-variant: rgb(229 225 236);
  --md-sys-color-on-surface-variant: rgb(71 70 79);
  --md-sys-color-outline: rgb(120 118 128);
  --md-sys-color-outline-variant: rgb(200 197 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 54);
  --md-sys-color-inverse-on-surface: rgb(243 239 247);
  --md-sys-color-inverse-primary: rgb(197 192 255);
  --md-sys-color-primary-fixed: rgb(227 223 255);
  --md-sys-color-on-primary-fixed: rgb(23 18 74);
  --md-sys-color-primary-fixed-dim: rgb(197 192 255);
  --md-sys-color-on-primary-fixed-variant: rgb(68 64 120);
  --md-sys-color-secondary-fixed: rgb(228 223 249);
  --md-sys-color-on-secondary-fixed: rgb(27 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(199 196 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(70 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 216 233);
  --md-sys-color-on-tertiary-fixed: rgb(56 7 39);
  --md-sys-color-tertiary-fixed-dim: rgb(252 176 215);
  --md-sys-color-on-tertiary-fixed-variant: rgb(108 52 84);
  --md-sys-color-surface-dim: rgb(220 216 224);
  --md-sys-color-surface-bright: rgb(252 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 242 250);
  --md-sys-color-surface-container: rgb(240 236 244);
  --md-sys-color-surface-container-high: rgb(235 231 239);
  --md-sys-color-surface-container-highest: rgb(229 225 233);
}