name: Common builder for libmpegh
on:
  workflow_call:
    inputs:
      artifact_suffix:
        required: true
        type: string
      runs_on:
        required: true
        type: string
      cmake_command:
        required: true
        type: string
      postbuild_command:
        required: false
        type: string
        default: ""

jobs:
  build:
    name: Build target ${{ inputs.artifact_suffix }}${{ matrix.suffix_ext }}
    runs-on: ${{ inputs.runs_on }}
    strategy:
      fail-fast: false 
      matrix:
        include:
          - extra_flags: "-DBUILD_SHARED_LIBS=ON -DEXECUTABLE_IS_STATIC=OFF"
            suffix_ext: "-shared"
          - extra_flags: "-DBUILD_SHARED_LIBS=ON"
            suffix_ext: ""

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clone libmpegh
        run: git clone --depth=1 --single-branch https://github.com/ittiam-systems/libmpegh.git

      - name: Hotpatch code
        shell: bash
        run: |
          perl -pi -e 's/typedef int intptr_t;/#include <stdint.h>/g' libmpegh/decoder/impeghd_type_def.h
          chmod +x patches/apply_patches.sh; ./patches/apply_patches.sh

      - name: Create build directory
        run: mkdir -p libmpegh/bin

      - name: Configure cmake
        working-directory: libmpegh/bin
        shell: bash
        run: ${{ inputs.cmake_command }}

      - name: Append flags
        working-directory: libmpegh/bin
        shell: bash
        run: cmake . ${{ matrix.extra_flags }}

      - name: Build libmpegh
        working-directory: libmpegh/bin
        run: cmake --build . --config Release --parallel
      
      - name: Post-build command
        if: inputs.postbuild_command != ''
        working-directory: libmpegh/bin
        run: ${{ inputs.postbuild_command }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libmpegh-build-${{ inputs.artifact_suffix }}${{ matrix.suffix_ext }}
          path: |
            libmpegh/bin/*ia_mpeghd_lib*
            libmpegh/bin/ia_mpeghd_testbench*
          retention-days: 90
